@using Microsoft.AspNetCore.Components.Web

<div class="btt-toast @CardClass scale-up-center"  @onmouseover="OnMouseEnter" @onmouseout="OnMouseLeave">
    <span class="@CloseButtonClass btt-close-button" @onclick="Close">&times;</span>
    <div class="btt-card-body">
        @if (!string.IsNullOrWhiteSpace(ToastOptions.Heading))
        {
            <div class="btt-card-heading @HeadingClass">@ToastOptions.Heading</div>
        }
        <div class="btt-card-message @ContentClass">
            @ToastOptions.Message
        </div>
    </div>
    @if (ToastOptions.OnClick != null)
    {
        <div class="btt-card-action @CardClass " @onclick="PerformActionAndClose">
            <div class="btt-card-action-text @ActionButtonClass ">@ToastOptions.ButtonLabel</div>
        </div>
    }
</div>
